<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>511415302.258448</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>note36.md</key>
			<dict>
				<key>lastModification</key>
				<real>510202050.63685697</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>note37.md</key>
			<dict>
				<key>lastModification</key>
				<real>510202050.63054502</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>note38.md</key>
			<dict>
				<key>lastModification</key>
				<real>510202319.99773002</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>note39.md</key>
			<dict>
				<key>lastModification</key>
				<real>510202329.03554302</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>note40.md</key>
			<dict>
				<key>lastModification</key>
				<real>510202336.22124302</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>note41.md</key>
			<dict>
				<key>lastModification</key>
				<real>510202348.46627003</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>note42.md</key>
			<dict>
				<key>lastModification</key>
				<real>510202352.47305501</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>24</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>510200909.40446001</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>note42.md</string>
		</array>
		<array>
			<string>note41.md</string>
		</array>
		<array>
			<string>note40.md</string>
		</array>
		<array>
			<string>note39.md</string>
		</array>
		<array>
			<string>note38.md</string>
		</array>
		<array>
			<string>note36.md</string>
		</array>
		<array>
			<string>note37.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
			<integer>30</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
