<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>01test.md</key>
			<dict>
				<key>lastModification</key>
				<real>507626371.55402303</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>02test.md</key>
			<dict>
				<key>lastModification</key>
				<real>507626380.36803597</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>readme.md</key>
			<dict>
				<key>lastModification</key>
				<real>507626288.10080302</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>507626315.19282597</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>7</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>readme.md</string>
		</array>
		<array>
			<string>summary.md</string>
		</array>
		<array>
			<string>01test.md</string>
		</array>
		<array>
			<string>02test.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
			<integer>16</integer>
		</dict>
	</dict>
</dict>
</plist>
