<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>Chapter 00</string>
		<string>Chapter 01</string>
		<string>Chapter 02</string>
		<string>Chapter 03</string>
		<string>Chapter 04</string>
		<string>Chapter 05</string>
		<string>Chapter 06</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>Chapter 00</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>510201546.36141902</real>
				<key>lastModification</key>
				<real>510201546.36141902</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>43</integer>
				</dict>
			</dict>
			<key>Chapter 01</key>
			<dict>
				<key>lastModification</key>
				<real>510200944.58063501</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>26</integer>
				</dict>
			</dict>
			<key>Chapter 02</key>
			<dict>
				<key>lastModification</key>
				<real>510200991.77771002</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>33</integer>
				</dict>
			</dict>
			<key>Chapter 03</key>
			<dict>
				<key>lastModification</key>
				<real>510200980.999717</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>Chapter 04</key>
			<dict>
				<key>lastModification</key>
				<real>510201001.601228</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>Chapter 05</key>
			<dict>
				<key>lastModification</key>
				<real>510201006.47984201</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>37</integer>
				</dict>
			</dict>
			<key>Chapter 06</key>
			<dict>
				<key>lastModification</key>
				<real>510201011.78827</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>39</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>510201394.91651797</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>note01.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>510201826.14124399</real>
				<key>lastModification</key>
				<real>510201924.06577599</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>36</integer>
				</dict>
			</dict>
			<key>note02.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>510201826.12660199</real>
				<key>lastModification</key>
				<real>510201826.12660199</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>33</integer>
				</dict>
			</dict>
			<key>note03.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>510201826.12340099</real>
				<key>lastModification</key>
				<real>510201826.12340099</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>32</integer>
				</dict>
			</dict>
			<key>note22.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>510201973.416646</real>
				<key>lastModification</key>
				<real>510201973.416646</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>note23.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>510201973.41301399</real>
				<key>lastModification</key>
				<real>510201973.41301399</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>43</integer>
				</dict>
			</dict>
			<key>note29.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>510202045.77935499</real>
				<key>lastModification</key>
				<real>510202045.77935499</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>65</integer>
				</dict>
			</dict>
			<key>note30.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>510202045.77517998</real>
				<key>lastModification</key>
				<real>510202045.77517998</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>64</integer>
				</dict>
			</dict>
			<key>note36.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>510202050.638578</real>
				<key>lastModification</key>
				<real>510202050.638578</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>67</integer>
				</dict>
			</dict>
			<key>note37.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>510202050.63271099</real>
				<key>lastModification</key>
				<real>510202050.63271099</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>66</integer>
				</dict>
			</dict>
			<key>summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>507626315.19282597</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>7</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>510200909.40305299</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>note23.md</string>
		</array>
		<array>
			<string>note22.md</string>
		</array>
		<array>
			<string>note29.md</string>
		</array>
		<array>
			<string>note30.md</string>
		</array>
		<array>
			<string>note37.md</string>
		</array>
		<array>
			<string>note36.md</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>summary.md</string>
		</array>
		<array>
			<string>note03.md</string>
		</array>
		<array>
			<string>note02.md</string>
		</array>
		<array>
			<string>note01.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
			<integer>43</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
			<integer>67</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
