<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>note22.md</key>
			<dict>
				<key>lastModification</key>
				<real>510201973.41415697</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>note23.md</key>
			<dict>
				<key>lastModification</key>
				<real>510201973.40884602</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>note24.md</key>
			<dict>
				<key>lastModification</key>
				<real>510202547.83396798</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>note25.md</key>
			<dict>
				<key>lastModification</key>
				<real>510202554.11144501</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>note26.md</key>
			<dict>
				<key>lastModification</key>
				<real>510202559.28162301</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>note27.md</key>
			<dict>
				<key>lastModification</key>
				<real>510202565.69060999</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>note28.md</key>
			<dict>
				<key>lastModification</key>
				<real>510202576.34705698</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>22</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>510200909.40385801</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>note28.md</string>
		</array>
		<array>
			<string>note27.md</string>
		</array>
		<array>
			<string>note26.md</string>
		</array>
		<array>
			<string>note25.md</string>
		</array>
		<array>
			<string>note24.md</string>
		</array>
		<array>
			<string>note22.md</string>
		</array>
		<array>
			<string>note23.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
			<integer>23</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
