<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>note01.md</key>
			<dict>
				<key>lastModification</key>
				<real>510201826.13777798</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>note02.md</key>
			<dict>
				<key>lastModification</key>
				<real>510201826.12492198</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>note03.md</key>
			<dict>
				<key>lastModification</key>
				<real>510201826.12147301</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>note04.md</key>
			<dict>
				<key>lastModification</key>
				<real>510202427.900603</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>note05.md</key>
			<dict>
				<key>lastModification</key>
				<real>510202435.336061</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>33</integer>
				</dict>
			</dict>
			<key>note06.md</key>
			<dict>
				<key>lastModification</key>
				<real>510202442.88374901</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>37</integer>
				</dict>
			</dict>
			<key>note07.md</key>
			<dict>
				<key>lastModification</key>
				<real>510202450.59186399</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>39</integer>
				</dict>
			</dict>
			<key>note08.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>510201915.55935198</real>
				<key>lastModification</key>
				<real>510201915.55935198</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>22</integer>
				</dict>
			</dict>
			<key>note09.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>510201915.55644399</real>
				<key>lastModification</key>
				<real>510201915.55644399</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>note15.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>510201920.48749602</real>
				<key>lastModification</key>
				<real>510201920.48749602</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>note16.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>510201920.48486102</real>
				<key>lastModification</key>
				<real>510201920.48486102</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>readme.md</key>
			<dict>
				<key>lastModification</key>
				<real>510208402.82330602</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>43</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>510200909.40468597</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>note16.md</string>
		</array>
		<array>
			<string>note15.md</string>
		</array>
		<array>
			<string>note09.md</string>
		</array>
		<array>
			<string>note08.md</string>
		</array>
		<array>
			<string>readme.md</string>
		</array>
		<array>
			<string>note07.md</string>
		</array>
		<array>
			<string>note06.md</string>
		</array>
		<array>
			<string>note05.md</string>
		</array>
		<array>
			<string>note04.md</string>
		</array>
		<array>
			<string>note01.md</string>
		</array>
		<array>
			<string>note02.md</string>
		</array>
		<array>
			<string>note03.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
			<integer>44</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
