<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array/>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict/>
		<key>sheetClusters</key>
		<dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>511415015.61895001</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>26</integer>
				</dict>
			</dict>
			<key>note15.md</key>
			<dict>
				<key>lastModification</key>
				<real>510201920.48503703</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>note16.md</key>
			<dict>
				<key>lastModification</key>
				<real>510201920.48035902</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>note17.md</key>
			<dict>
				<key>lastModification</key>
				<real>510202511.71889198</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>note18.md</key>
			<dict>
				<key>lastModification</key>
				<real>510202516.727449</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>note19.md</key>
			<dict>
				<key>lastModification</key>
				<real>510202520.53425199</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>note20.md</key>
			<dict>
				<key>lastModification</key>
				<real>510202526.18255299</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>note21.md</key>
			<dict>
				<key>lastModification</key>
				<real>510202540.97416502</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>22</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>510200909.40416199</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>note21.md</string>
		</array>
		<array>
			<string>note20.md</string>
		</array>
		<array>
			<string>note19.md</string>
		</array>
		<array>
			<string>note18.md</string>
		</array>
		<array>
			<string>note17.md</string>
		</array>
		<array>
			<string>note15.md</string>
		</array>
		<array>
			<string>note16.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
			<integer>3</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
			<integer>27</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
