<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>note29.md</key>
			<dict>
				<key>lastModification</key>
				<real>510202045.77718198</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>note30.md</key>
			<dict>
				<key>lastModification</key>
				<real>510202045.77157301</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>note31.md</key>
			<dict>
				<key>lastModification</key>
				<real>510202373.50198102</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>note32.md</key>
			<dict>
				<key>lastModification</key>
				<real>510202381.75177801</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>note33.md</key>
			<dict>
				<key>lastModification</key>
				<real>510202393.54083103</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>note34.md</key>
			<dict>
				<key>lastModification</key>
				<real>510202401.38397503</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>note35.md</key>
			<dict>
				<key>lastModification</key>
				<real>510202414.28338802</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>22</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>510200909.40354198</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>note35.md</string>
		</array>
		<array>
			<string>note34.md</string>
		</array>
		<array>
			<string>note33.md</string>
		</array>
		<array>
			<string>note32.md</string>
		</array>
		<array>
			<string>note31.md</string>
		</array>
		<array>
			<string>note29.md</string>
		</array>
		<array>
			<string>note30.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
			<integer>23</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
